<!--=== Color Scheme section Starts ===-->
<section id="section-colors" class="color-panel panel-close center">
  <div class="color-wrap">
    <h3>Color schemes</h3>
    <span class="fa fa-gears panel-ticker"></span>
    <div class="pallet-row">
      <a href="#" class="color-pallet color-red" title="red"></a>
      <a href="#" class="color-pallet color-orange" title="orange"></a>
      <a href="#" class="color-pallet color-gray" title="gray"></a>
    </div>
    <hr />
    <p>Other Home styles coming soon</p>
  </div>
</section>
<!--=== Color Scheme section Ends ===-->
