<!--=== Video section Starts ===-->
<section id="section-video" class="section-video-wrap">

  <div class="container big-video center animated" data-animation="fadeInLeft" data-animation-delay="700">
    <div class="row">
      <div class="col-md-12 section-title">
        <h3>Describe with a video</h3>
      </div>
      <div class="col-md-10 col-md-offset-1 video-content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JxoUmh2FCX4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
<!--=== Video section Ends ===-->
