<!--=== Services section Starts ===-->
<section id="section-aboutus" class="services-wrap">
  <div class="container services">
    <div class="row">

      <div id="about-us" class="col-md-10 col-md-offset-1 center section-title">
        <h3 style="color: #4A4949">About Us</h3>
      </div>

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInLeft" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Clean Design</h4>
          <p class="service-description justify">
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-paperplane fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Full responsive</h4>
          <p class="service-description justify">
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
          </p>
        </div>
      </div>
      <!-- Single Service ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInRight" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-accelerator fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Ajax contact form</h4>
          <p class="service-description justify">
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-lightbulb fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Mailchimp ready</h4>
          <p class="service-description justify">
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
            Cillum laboris consequat, qui elit retro next level skateboard freegan hella.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->
    </div>
  </div>
</section>
<!--=== Services section Ends ===-->
