<!--=== Services section Starts ===-->
<section id="section-aboutus" class="services-wrap">
  <div class="container services">
    <div class="row">

      <div id="about-us" class="col-md-10 col-md-offset-1 center section-title">
        <h3 style="color: #4A4949">About Us</h3>
      </div>

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInLeft" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-book-pencil fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Unrivaled Service</h4>
          <p class="service-description justify">
            ABCO offers excellent service and competitive pricing. We would like you to compare and "Discover The
            Difference" why over 1000 customers enjoy doing business with ABCO.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-paperplane fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Industry Professionals</h4>
          <p class="service-description justify">
            ABCO has an outstanding group of professionals who are able to handle your complex printing endeavors.
            Please contact us today so we can address your concerns and show you why over 1000 customers rely on ABCO
            Printing Plus.
          </p>
        </div>
      </div>
      <!-- Single Service ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInRight" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-accelerator fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Locally Owned For Over 30 Years</h4>
          <p class="service-description justify">
            We are proud to have been locally owned and operated out of the Columbus Area for over 30 years.
            Our customers are our number one priority and we thank them for their support in allowing us to fulfill their
            printing needs.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->

      <!-- Single Service Starts -->
      <div class="col-md-6 col-sm-6 service animated" data-animation="fadeInUp" data-animation-delay="700">
        <span class="service-icon center"><i class="icon icon-basic-lightbulb fa-3x"></i></span>
        <div class="service-desc">
          <h4 class="service-title color-scheme">Personal Touch</h4>
          <p class="service-description justify">
            At ABCO we are committed to customer satisfaction and we go the extra mile to make sure our customers
            receive the best quality products and services every day.
          </p>
        </div>
      </div>
      <!-- Single Service Ends -->
    </div>
  </div>
</section>
<!--=== Services section Ends ===-->
