<!--=== Step-1 section Starts ===-->
<section id="section-rewards" class="section-step step-wrap">
  <div class="container step animated" data-animation="bounceInLeft" data-animation-delay="700">
    <div class="row">
      <!-- Step Description Starts -->
      <h3 class="step-title color-scheme">How To Save Big On Your Next Order!</h3>
      <div class="col-md-8 step-desc">
        <div class="col-md-2 center">
          <div class="step-no">
            <span class="no-inner">1</span>
          </div>
        </div>

        <div class="col-md-10 step-details">
          <h3 class="step-title color-scheme">First Subscribe To Our  <a href="#section-subscribe" style="color: black">Rewards Program</a> </h3>
          <p class="step-description">Cillum laboris <strong>consequat</strong>, qui elit retro next level
            skateboard freegan hella. Cillum laboris consequat qui elit retro next level
            skateboard freegan hella. Cillum laboris consequat skateboard freegan hella</p>

          <ul class="sub-steps"> <!-- Sub steps here -->
            <li>
              <span class="icon fa fa-comments color-scheme"></span>
              <span class="sub-text">skateboard freegan hella. Cillum laboris consequat qui elit</span>
            </li>
            <li>
              <span class="icon fa fa-pencil-square-o color-scheme"></span>
              <span class="sub-text">Documenting collected data</span>
            </li>
          </ul>
        </div> <!-- End step-details -->
      </div>
      <!-- Step Description Ends -->
      <div class="col-md-4 step-img">
        <img src="../assets/images/note.png" alt="" /> <!-- Step Photo Here -->
      </div>
    </div>
  </div>
</section>
<!--=== Step-1 section Ends ===-->

<!--=== Step-2 section Starts ===-->
<section id="step-2" class="section-step step-even step-wrap">
  <div class="container step animated" data-animation="bounceInRight" data-animation-delay="700">
    <div class="row">
      <!-- Step Description Starts -->
      <div class="col-md-8 step-desc">
        <div class="col-md-2 center">
          <div class="step-no">
            <span class="no-inner">2</span>
          </div>
        </div>

        <div class="col-md-10 step-details">
          <h3 class="step-title color-scheme">Work flow title here</h3>
          <p class="step-description">Cillum laboris <strong>consequat</strong>, qui elit retro next level
            skateboard freegan hella. Cillum laboris consequat qui elit retro next level
            skateboard freegan hella. Cillum laboris consequat skateboard freegan hella</p>

          <ul class="sub-steps"> <!-- Sub steps here -->
            <li>
              <span class="icon fa fa-comments color-scheme"></span>
              <span class="sub-text">skateboard freegan hella. Cillum laboris consequat qui elit</span>
            </li>
            <li>
              <span class="icon fa fa-pencil-square-o color-scheme"></span>
              <span class="sub-text">Documenting collected data</span>
            </li>

          </ul>
        </div><!-- End step-details -->
      </div>
      <!-- Step Description Ends -->
      <div class="col-md-4 step-img">
        <img src="../assets/images/desk.png" alt="" /> <!-- Step Photo Here -->
      </div>
    </div>
  </div>
</section>
<!--=== Step-2 section Ends ===-->
