<!--=== Pricing section Starts ===-->
<section id="section-pricing" class="pricing-wrap">
  <div class="container pricing">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 center section-title">
        <h3>Plans & pricing</h3>
      </div>
      <!-- Single Price Starts -->
      <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="500">
        <div class="single-pricing">

          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Basic</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                40
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-close"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-close"></span>Voice call</li>
            <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col zoom">
              Sign up
              <span class="icon">
									<i class="fa fa-thumbs-o-up"></i>
								</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Single Price Ends -->


      <!-- Single Price Starts -->
      <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="700">
        <div class="single-pricing best-pricing"> <!-- this is best-pricing -->

          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Advance</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                60
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-close"></span>Voice call</li>
            <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col vertical">
              Sign up
              <span class="icon">
									<i class="fa fa-hand-o-up"></i>
								</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Single Price Ends -->

      <!-- Single Price Starts -->
      <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="900">
        <div class="single-pricing">

          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Premium</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                80
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-check"></span>Voice call</li>
            <li><span class="color-scheme fa fa-close"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col rotate">
              Sign up
              <span class="icon">
									<i class="fa fa-thumbs-o-up"></i>
								</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Single Price Ends -->

      <!-- Single Price Starts -->
      <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="1100">
        <div class="single-pricing">

          <div class="pricing-head">
            <h4 class="pricing-heading color-scheme">Ultra</h4>
            <div class="price">
              <h3>
                <span class="dollar">$</span>
                100
                <span class="month">/month</span>
              </h3>
            </div>
          </div>

          <ul class="package-features">
            <li><span class="color-scheme fa fa-check"></span>Unlimited Downloads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Uploads</li>
            <li><span class="color-scheme fa fa-check"></span>Unlimited Email Accounts</li>
            <li><span class="color-scheme fa fa-check"></span>Email Forwards</li>
            <li><span class="color-scheme fa fa-check"></span>Cloud Storage</li>
            <li><span class="color-scheme fa fa-check"></span>Voice call</li>
            <li><span class="color-scheme fa fa-check"></span>Screen Share</li>
          </ul>
          <div class="sign-up">
            <a href="#" class="fancy-button button-line btn-col zoom">
              Sign up
              <span class="icon">
									<i class="fa fa-thumbs-o-up"></i>
								</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Single Price Ends -->

    </div>
  </div>
</section>
<!--=== Pricing section Ends ===-->
