<!--=== ScreenShots section Starts ===-->
<section id="section-why-abco" class="screenshots-wrap">
  <div class="container screenshots animated" data-animation="fadeInUp" data-animation-delay="1000">
    <div class="row porfolio-container">
      <div class="col-md-10 col-md-offset-1 center section-title">
        <h3>The Personal Touch</h3>
      </div>
      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="../assets/images/call-today.png" alt="" />
            <div class="photo-overlay">
              <h4>Our Challenge</h4>
            </div>
<!--            <span class="photo-zoom">-->
<!--								<a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>-->
<!--							</span>-->
          </div>
        </div>
      </div>
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="../assets/images/cut-costs.png" alt="" />
            <div class="photo-overlay">
              <h4>Keys To Savings</h4>
            </div>
<!--            <span class="photo-zoom">-->
<!--								<a href="single-project-2.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>-->
<!--							</span>-->
          </div>

        </div>
      </div>
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="screenshot">
          <div class="photo-box">
            <img src="../assets/images/ink-dont-stink.png" alt="" />
            <div class="photo-overlay">
              <h4>Our Promise</h4>
            </div>
<!--            <span class="photo-zoom">-->
<!--								<a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>-->
<!--							</span>-->
          </div>

        </div>
      </div>
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
<!--      <div class="col-md-4 col-sm-4 col-xs-6">-->
<!--        <div class="screenshot">-->
<!--          <div class="photo-box">-->
<!--            <img src="../assets/images/Funny-back.png" alt="" />-->
<!--            <div class="photo-overlay">-->
<!--              <h4>User Experience design</h4>-->
<!--            </div>-->
<!--            <span class="photo-zoom">-->
<!--								<a href="single-project-2.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>-->
<!--							</span>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
<!--      <div class="col-md-4 col-sm-4 col-xs-6">-->
<!--        <div class="screenshot">-->
<!--          <div class="photo-box">-->
<!--            <img src="../assets/images/5.jpg" alt="" />-->
<!--            <div class="photo-overlay">-->
<!--              <h4>Page builder plugin</h4>-->
<!--            </div>-->
<!--            <span class="photo-zoom">-->
<!--								<a href="single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>-->
<!--							</span>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
      <!-- Single screenshot ends -->

      <!-- Single screenshot starts -->
<!--      <div class="col-md-4 col-sm-4 col-xs-6">-->
<!--        <div class="screenshot">-->
<!--          <div class="photo-box">-->
<!--            <img src="../assets/images/6.jpg" alt="" />-->
<!--            <div class="photo-overlay">-->
<!--              <h4>Corporate website</h4>-->
<!--            </div>-->
<!--            <span class="photo-zoom">-->
<!--								<a href="single-project-2.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>-->
<!--							</span>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
      <!-- Single screenshot ends -->

    </div>

    <div id="portfolio-loader" class="center">
      <div class="loading-circle fa-spin"></div>
    </div> <!--=== Portfolio loader ===-->

    <div id="portfolio-load"></div><!--=== ajax content will be loaded here ===-->

    <div class="col-md-12 center back-button">
      <a class="backToProject fancy-button button-line bell btn-col" href="#">
        Back
        <span class="icon">
						<i class="fa fa-arrow-left"></i>
					</span>
      </a>
    </div><!--=== Single portfolio back button ===-->
  </div>
</section>
<!--=== ScreenShots section Ends ===-->
