
<!--=== Testimonials section Starts ===-->
<section id="section-testimonials" class="testimonials-wrap">
  <div class="section-overlay"></div>
  <div class="container testimonials center animated" data-animation="rollIn" data-animation-delay="500">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="testimonial-slider">
          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <p class="comment">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu sem ante. Nullam quis risus eu
              purus commodo dignissim. Donec iaculis ac ex vel posuere. Sed posuere, elit vitae mattis condimentum,
              quam urna fringilla magna
            </p>

            <h5 class="happy-client">Jhon Doe</h5>
            <span class="client-info">Executive at CDF Corp.</span>
          </div>
          <!-- Single Testimonial Ends -->

          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <p class="comment">
              Dolor sit amet, consectetur adipiscing elit. Nullam eu sem ante. Nullam quis risus eu
              purus commodo dignissim. Donec iaculis ac ex vel posuere. Sed posuere, elit vitae mattis condimentum,
              quam urna fringilla magna
            </p>

            <h5 class="happy-client">JB Jeniffer</h5>
            <span class="client-info">Developer at TTF Corp.</span>
          </div>
          <!-- Single Testimonial Ends -->

          <!-- Single Testimonial Starts -->
          <div class="testimonial">
            <p class="comment">
              Consectetur adipiscing elit. Nullam eu sem ante. Nullam quis risus eu
              purus commodo dignissim. Donec iaculis ac ex vel posuere. Sed posuere, elit vitae mattis condimentum,
              quam urna fringilla magna
            </p>

            <h5 class="happy-client">Chan Jhin</h5>
            <span class="client-info">CEO of MutiNaTakio.</span>
          </div>
          <!-- Single Testimonial Ends -->
        </div>
        <div id="bx-pager" class="client-photos">
          <a data-slide-index="0" href="" class="photo-hold">
							<span class="photo-bg">
								<img src="../assets/images/client_1.jpg" alt="" /> <!-- Client photo 1 -->
							</span>
          </a>
          <a data-slide-index="1" href="" class="photo-hold">
							<span class="photo-bg">
								<img src="../assets/images/client_2.jpg" alt="" /> <!-- Client photo 2 -->
							</span>
          </a>
          <a data-slide-index="2" href="" class="photo-hold">
							<span class="photo-bg">
								<img src="../assets/images/client_3.jpg" alt="" /> <!-- Client photo 3 -->
							</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Testimonials section Ends ===-->
