<!--=== Subscribe section Starts ===-->
<!--<section id="section-subscribe" class="subscribe-wrap">-->
<!--  <div class="section-overlay"></div>-->
<!--  <div class="container subscribe center">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-12">-->
<!--        <p class="subscription-success"></p>-->
<!--        <p class="subscription-failed"></p>-->
<!--        <div class="col-md-10 col-md-offset-1 center section-title">-->
<!--          <h3>Newsletter</h3>-->
<!--        </div>-->
<!--        <form id="subscription-form">-->
<!--          <input type="email" name="subEmail" required="required" placeholder="Your Email" class="input-email" />-->
<!--          <button type="submit" id="subscription-btn" class="fancy-button button-line button-white large zoom">-->
<!--            Subscribe-->
<!--            <span class="icon">-->
<!--								<i class="fa fa-sign-in"></i>-->
<!--							</span>-->
<!--          </button>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!--=== Subscribe section Ends ===-->
